<h1>Liste des types de séjours</h1>
<%= link_to 'Créer un nouveau type de séjour', new_admin_type_sejour_path %>
<table>
	<tr>
		<td>
			intitulé
		</td>
		<td colspan='4'>
			code inchangeable
		</td>
	</tr>
	<% @type_sejours.each do |type_sejour| %>
	<tr>
		<td>
			<%= type_sejour.intitule %>
		</td>
		<td>
			<%= type_sejour.code_inchangeable %>
		</td>
		<td>
			<%= link_to 'editer', edit_admin_type_sejour_path(type_sejour) %>
		</td>
		<td>
			<%= button_to "Supprimer", admin_type_sejour_path(type_sejour), :method => :delete, :confirm => "Etes-vous sûr de vouloir supprimer le type #{type_sejour.intitule}?" %>
		</td>
	</tr>
	<% end %>
</table>