<h1>Liste des droits</h1>
<%= link_to 'Créer un nouveau droit', new_admin_user_droit_path %>
<table>
	<tr>
		<td>
			intitulé
		</td>
		<td colspan='4'>
			code inchangeable
		</td>
	</tr>
	<% @user_droits.each do |user_droit| %>
	<tr>
		<td>
			<%= user_droit.intitule %>
		</td>
		<td>
			<%= user_droit.code_inchangeable %>
		</td>
		<td>
			<%= link_to 'editer', edit_admin_user_droit_path(user_droit) %>
		</td>
		<td>
			<%= button_to "Supprimer", admin_user_droit_path(user_droit), :method => :delete, :confirm => 'Etes-vous sûr?' %>
		</td>
	</tr>
	<% end %>
</table>