<!DOCTYPE html>
<html>
<head>
  <title>StAugustin</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= include_gritter_and_jquery %>
  <%= csrf_meta_tag %>
</head>
<body>
	<% unless flash.empty? %>
	    	<%- flash.each do |name, msg| -%>  
				<%= js add_gritter(flash[name], :image => name, :sticky => true) %>
	        <%- end -%>  
	<% end %>
	
	<div id="user_nav">  
	  <% if current_user %>  
		Vous êtes connecté
	    <%#= link_to "Editer mon profil", edit_user_path(current_user) %>  
	    <%#= link_to "Logout", logout_path %>  
	  <% else %>  
	    <%= link_to "S'inscrire", new_user_path %>  
		<%= link_to 'Se connecter', new_user_sessions_path %>
	  <% end %>  
	</div>
<%= yield %>

</body>
</html>
